#most-outer-container {
  display: grid;
  grid-template-columns: 350px 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #d0d4d7;
}

#dashboard-container {
  background: var(--blue);
  margin: 4px;
  border-radius: 10px;
}

#dashboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
#main-logo {
  width: 60px;
}
#dashboard-title h1 {
  font-size: 25px;
  color: #E8DFCA;
}
#dashboard-links-cont {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#dashboard-links-cont a, #dashboard-links-cont p {
  display: block;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  margin: 4px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}
#dashboard-links-cont a:hover, #dashboard-links-cont p:hover {
  background: var(--yellow);
}
#dashboard-links-cont a.active{
  color: var(--blue);
  background: var(--yellow);
}
.outlet-cont {
  width: 100%;
  overflow-y: scroll;
}